---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Reservation from '../components/Reservation.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Reviews from '../components/Reviews.astro';
import Contact from '../components/Contact.astro';
import Info from '../components/Info.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Features />
    <Reservation />
    <About />
    <Menu />
    <Reviews />
    <Contact />
    <Info />
  </main>
  <Footer />
</Layout>
